.clear {
  clear: both;
}
.col-md-2 .bs-sidebar {
  width: 198px;
}
.col-md-2 .bs-sidebar * {
  width: 198px;
}
.col-md-2 .bs-sidebar a {
  width: 168px;
}
.row > div {
  border: 1px solid red;
}
.bs-sidebar {
  display: table;
  height: 100%;
}
.bs-sidebar .bs-sidenav {
  display: table-cell;
  vertical-align: middle;
}
.page {
  display: table;
  width: 100%;
}
.page > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
#title1 {
  padding: 20px;
  height: 100%;
  border: 1px solid green;
}
#title2 {
  padding: 20px;
  height: 100%;
  border: 1px solid orange;
}
#title3 {
  padding: 20px;
  height: 100%;
  border: 1px solid blue;
}
#title4 {
  padding: 20px;
  height: 100%;
  border: 1px solid black;
}
/*.position-fixed {
    position: fixed;
}*/
/*.height-100 {
    height: 100%;
    display: table;
}

ul {
    display: table-cell;
    vertical-align: middle;
}*/
/*.bs-sidebar.bar-left {
    width: 198px;
}

.bs-sidebar.bar-right {
    width: 168px;
}*/
/*@media screen and (max-width: 1200px) {
    .bs-sidebar {
        display: none;
    }
}*/
/*#section1 {
}

#section2 {
    margin-top: 500px;
}

.fix {
    position: fixed;
    top:200px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -10;
}*/
/*.margin-auto {
    margin: 0 auto;
}*/
